<!-- Adding this application configuration file to your project allows you
     to control the binding against different versions of HALCON assemblies 
     at runtime. This may be necessary, e.g., when referencing an assembly
     which has been compiled against a different revision of HALCON -->

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="halcondotnet" publicKeyToken="4973BED59DDBF2B8"/>
        <bindingRedirect oldVersion="13.0.0.0-13.0.65535.65535" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="halcondotnetxl" publicKeyToken="4973BED59DDBF2B8"/>
        <bindingRedirect oldVersion="13.0.0.0-13.0.65535.65535" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="hdevenginedotnet" publicKeyToken="4973BED59DDBF2B8"/>
        <bindingRedirect oldVersion="13.0.0.0-13.0.65535.65535" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="hdevenginedotnetxl" publicKeyToken="4973BED59DDBF2B8"/>
        <bindingRedirect oldVersion="13.0.0.0-13.0.65535.65535" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
